@import "./default.css";
@import "./reset.css"; 
@import "./fonts.css";
@import "./buttons.css";

body{
    margin: 0;
}

.container{ 
    max-width: 1160px;
    margin: 0 auto;  
}

.navigation {
    background-color: #FFE17F;
    margin-top: 40px;
}

.logo { 
    margin-left: 61px;
    margin-top: -23px;
}

.menu-top { 
    display: flex;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 44px;
    padding-left: 60px;
}
input { 
    width: 480px;
    height: 20px;
    border: none;
    background: none;
    outline: none;
}

.navigation-image { 
    width: auto;
    height: auto;
    padding: 0 10px; 
}
.navigation-enter {
    width: 220px;
    height: auto; 
}

.navigation-compare {
    width: 100px;
    height: auto; 
}

.navigation-basket {
    width: 100px;
    height: auto; 
}

.menu-bottom { 
    display: flex;
    align-items: baseline;
    padding-bottom: 17px;
    padding-left: 60px; 
}
.menu-catalog-button {
    display: flex;
    align-items: baseline;

}
.menu-catalog { 
    margin-right: auto;
}

.menu-delivery { 
    padding-left: 247px;  
}
.menu-gueranty { 
    padding-left: 19px;
    
}
.menu-contacts { 
    padding-left: 62px;
}

.popualr-category{ 
    display: flex;
    align-content: center;
}

.text-container { 
    padding-top: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gallery {
    z-index: 1;
}

/* как сделать по размеру контейнера */
.popualr-category::before{
    position: absolute;
    content: '';
    width: 1160px;
    height: 150px;
    background-color: #FFE17F;
    z-index: -1;

}


.text-container--button{
    display: flex;
    flex-direction: row;
}
.text-conteiner--stats{
    display: flex;
    flex-direction: row;
}
.text-container--stats1{
    display: flex;
    flex-direction: column; 
    width: 160px;
}
.text-container--stats2{
    display: flex;
    flex-direction: column;
    width: 160px;
}
.text-header{
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    padding-right: 49px;
    justify-content: right;
    color: white;
}
.text-title{
    /*
    width: 560px;
    height: 110px;
    */
}
.text-description { 
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #444444;     
}
.stats2-about{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.stats1-about{
font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 30px;
color: #000000;
   
}
.popular{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popular-items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.popular-items-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #FFE17F;
}

.popular-text{
    padding-top: 33;
    width: 160px;
    height: 160px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
/* or 133% */

    letter-spacing: -0.02em;

/* basic/black */

    color: #000000;
        
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.about-button {
    width: 280px;
    height: 40px;
}
.about-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}
.about-delivery{
    display: flex;
    flex-direction: row;

}
.visually-hidden { 
    display: none;    
}

h3 {
    font-family: Raleway;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
/* or 100% */


/* basic/black */

color: #000000;
}

p {
    font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */


/* basic/dark */

color: #444444;
}



a {
 color: black;
}



.menu-top{
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.menu-bottom{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.text-header{
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px; 
    display: flex;
    align-items: center;
    text-align: right;
}
.text-title{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.about-contacts{
    display: flex;
    flex-direction: row;
}

.follow{
    display: flex;
    flex-direction: row;
}

.footer-top{
    display: flex;
    flex-direction: row;
}

.footer-bot{
    display: flex;
    flex-direction: row;
}
